# Server
HOST=0.0.0.0
PORT=9000
DEBUG=true
IS_DEVELOPMENT=True

# Token Holder Verification
ALCHEMY_KEY=your_alchemy_key_here
TOKEN_CONTRACT=0xdAC17F958D2ee523a2206206994597C13D831ec7
TOKEN_DECIMALS=6
MIN_HOLDER_BALANCE=1
TOKEN_SYMBOL=TOKEN

# Payments
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
DOMAIN_URL=http://localhost:9000
FE_DOMAIN_URL=http://localhost:3000

# Reown / WalletConnect
NEXT_PUBLIC_REOWN_PROJECT_ID=""
NEXT_PUBLIC_REOWN_APP_NAME="Web3 Corekit"
NEXT_PUBLIC_REOWN_APP_DESCRIPTION="Modular Web3 Toolkit"
NEXT_PUBLIC_REOWN_APP_URL="http://localhost:3000"
NEXT_PUBLIC_REOWN_DOMAIN="localhost"
